body {
    background: #ffffff;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.8);
    margin:0;
    padding:0;
    display: grid;
  }
  
  #jogo {
    font-family: Arial, sans-serif;
    font-style: bold;
    color: rgb(252, 255, 255);
    text-align:center;
    position:absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  
  #play {
    width: 450px;
    margin: 10 auto;
    padding: 2em;
    perspective: 300px;
  }
  
  .tabuleiro {
    margin: 0 auto;
    width: 320px;
    height: 310px;
    transform: rotateX(5deg) translateY(-25px);
  }
  
  .tabuleiro table{
      width: 100%;
  }
  
  .tabuleiro table tr{
      height: 100px;
      text-align: center;
  }
  
  .tabuleiro table td{
      width: 80px;
      height: 80px;
  }
  
  .tabuleiro table tr td:first-child {
      border-bottom: 10px groove gray;
      border-right: 10px groove gray;
<<<<<<< HEAD
      border-radius: 5px;
=======
      border-radius: 3px;
>>>>>>> 5adac9c768992349d441e46a4021621e4373f0dd
  }
  
  .tabuleiro table tr td:last-child {
      border-bottom: 10px groove gray;
<<<<<<< HEAD
      border-radius: 5px;
=======
      border-radius: 3px;
>>>>>>> 5adac9c768992349d441e46a4021621e4373f0dd
  } 
  
  .tabuleiro table tr td:nth-child(2) {
      border-bottom: 10px groove gray;
      border-right: 10px groove gray;
<<<<<<< HEAD
      border-radius: 5px;
=======
      border-radius: 3px;
>>>>>>> 5adac9c768992349d441e46a4021621e4373f0dd
  }
  
  .tabuleiro .none td{
    border-bottom: none !important;
}
  
  #resultado, .botao {
    font-size: 2em;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 2em;
    background: rgb(54, 54, 54);
    border-radius: 7px;
    
  }

footer {
    grid-area: foot;
    grid-column: 1/4;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-family: Arial, sans-serif;
    color: white;
    background-color: grey;
}